<div class="todo-main" *ngIf="data">
  <mat-card class="todo-main__card" *ngFor="let item of data">
    <mat-card-subtitle class="todo-main__card__title">{{item.title}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let elem of item.todos; let i = index">
          <mat-checkbox
            class="todo-main__card__checkbox"
            color="primary"
            [checked]="elem.isCompleted"
            (click)="checked(elem); this.dataService.isRequestSend ? $event.preventDefault() : null"
          >{{elem.text}}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <h1 *ngIf="data.length == 0">Нет записей</h1>
</div>
